<div class="col-md-12">
    <h2>Welcome To Tic Tac Toe Application!</h2>
    <div class="board" data-ng-if="ctx.board">
        <h3 data-ng-if="ctx.board.finished">
            Game finished, contragulations: {{ ctx.currentPlayer.name }}
        </h3>
        <table>
            <tbody>
                <tr data-ng-repeat="row in ctx.board.board">
                     <td data-ng-repeat="cell in row">
                        <div class="cell-content"
                            data-ng-class="[cell.style, {'clickable' : !cell.player && !ctx.board.finished }]"
                            data-ng-click="!cell.player && !ctx.board.finished && move(cell);">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="notifications" data-ng-if="!ctx.board.finished">
            <span>
                Awaiting movement {{ ctx.currentPlayer.name}}
            </span>
            <hr>

        </div>
    </div>
    <div class="players" data-ng-if="!ctx.board">
        <label for=""> Distributed Game</label>
        <input type="checkbox" ng-model="ctx.distributed">
        <input
            type="text"
            class="form-control"
            data-ng-model="ctx.playerOne"
            placeholder="Enter Player One Name">
        </input>
        <input
            data-ng-if="!ctx.distributed"
            type="text"
            class="form-control"
            data-ng-model="ctx.playerTwo"
            placeholder="Enter Player One Name">
        </input>
    </div>
    <button data-ng-if="!ctx.board" class="btn btn-primary" 
        data-ng-disabled="!ctx.playerOne || (!ctx.distributed && !ctx.playerTwo)" ng-click="startGame()">Start</button>
    <button class="btn btn-danger" data-ng-if="ctx.board" data-ng-click="resetGame()">Reset</button>
</div>