<div class="col-md-12">
    <h3>Welcome To Tic Tac Toe Application!</h3>
    <div class="board" data-ng-if="ctx.board">
        <table>
            <tbody>
                <tr data-ng-repeat="row in ctx.board.board">
                    <td data-ng-repeat="cell in row">
                        <div class="cell-content clickable"
                            data-ng-class="cell.style"
                            data-ng-click="move(cell);">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="notifications">
            <span>
                Awaiting movement {{ ctx.currentPlayer.name}}
            </span>
            <hr>
            <span>
                Game finished: {{ ctx.board.finished }}
            </span>
        </div>
    </div>
    <button class="btn btn-primary" ng-click="startGame()">Start</button>
</div>